<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_estudio_fondo_blanco"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
      <!--  <activity
            android:name=".Login.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
        <activity
            android:name=".Workstation.Workstation.WorkstationActivity"
            android:exported="true"
            android:label="Equipos"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Workstation.WorkstationDetail.WorkstationDetailActivity"
            android:label="Detalle del puesto de trabajo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Workstation.AddEditWorkstation.AddEditWorkstationActivity"
            android:label="Añadir/Editar puesto de trabajo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Item.Items.ItemsActivity"
            android:exported="true"
            android:label="Elementos"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Item.ItemDetail.ItemDetailActivity"
            android:label="Detalle"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Item.AddEditItems.AddEditItemsActivity"
            android:label="Añadir/Editar elemento"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>